body{
  font-family: 'Source Sans Pro', sans-serif!important;
}

.font10{
  font-size: 10px!important
}

.font12{
  font-size: 12px!important
}

.font14{
  font-size: 14px!important
}

.font16{
  font-size: 16px!important
}

.font18{
  font-size: 18px!important
}

.table td, .table th{
  border-top: none!important
}

.ls-0{
  letter-spacing: 0px!important;
}
.ls-1{
  letter-spacing: 1px!important;
}
.ls-2{
  letter-spacing: 2px!important;
}
.ls-3{
  letter-spacing: 3px!important;
}



.page {
    position: absolute;
    left: 1%;
    right: 1%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    /* display: flex;
    flex-direction: row; */
}

a:hover span.img2 svg,
a:active span.img2 svg,
a:focus span.img2 svg{
  fill: rgba(79, 79, 79, 0.93);
}


.img2 svg {
  fill: #7f8c8d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
}

.img3 svg {
  fill: #7f8c8d;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  cursor:pointer;
}
a:hover span.img3 svg,
a:active span.img3 svg,
a:focus span.img3 svg{
  fill: rgba(79, 79, 79, 0.93);
}

.w-32{
width: 32px;
}
.w-28{
  width: 28px;
}
.w-25px{
  width: 25px;
}
.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}
.w-70{
  width: 70%;
}

.bread{
  background-color: rgba(127, 141, 142, 0.08)!important;
  border-radius: 0px;
}

li.breadcrumb-item, a.abread{
  font-family: 'Source Sans Pro';
  text-decoration: none!important;
  color: #7f8c8d
}

li.breadcrumb-item:hover, a.abread:hover{
  color: black;
}

.b{
  color: black!important;
}
.gris{
  color: #9a9a9a!important;
}

.table-hover tbody tr:hover {
    background-color: rgba(127, 141, 142, 0.08)!important;
}


.form{
  font-family: 'Source Sans Pro';
}

input[type="text"]:focus, input[type="email"]:focus,input[type="date"]:focus, input[type="password"]:focus {
  border: 2px solid #333!important;
}

.tiene-contenido{
  border: 2px solid #333!important;
}


input[type="submit"] {
  font-family: Helvecia, Arial, sans-serif;
  letter-spacing: 1.5pt;
  text-transform: uppercase;
  background-color: #333;
  border: 0;
  color: #fff;
  height: 28pt;
  border-radius: 20pt;
  transform: translate(-10%, 0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;

}
input[type="submit"]:hover {
  opacity: 1.0;
  transform: translate(-10%, -10%);
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.back-aceptar{
  opacity: 0.7;
  background-color: rgba(139, 167, 139, 0.93)!important;
}


.back-detalle{
  opacity: 0.7;
  background-color: rgba(70, 116, 149, 0.93)!important;
}

.bt{
  background-color: transparent!important;
}

.bloqueo{
  cursor: not-allowed!important;
}

a {
  text-decoration: none!important
}

.b2px{
  border: 2px solid;
}

/* popup-list */

.popup-list {
  border-radius: 15px;
  border: 2px solid black;
  background-color: whitesmoke;
  z-index: 9999;
  margin: 2px;
  padding: 0px!important;
}

.popup-list p{
 padding: 1px 10px;
 margin-bottom: 0px;
}

.popup-list p.hovered{
 background-color: rgba(127, 141, 142, 0.08);
 cursor: pointer;
 letter-spacing: 2px;
}



/* .popup-list p:hover{
 background-color: rgba(127, 141, 142, 0.08);
 cursor: pointer;
 letter-spacing: 2px;
} */

.popup-list p:not(:last-child){
 border-bottom: 1px solid #ced4da;
}

.popup-list p:last-child{
 margin-bottom: 0px;
}
/* FINALIZA popup-list */


.subSelect{
  font-size: 18px;
  color: black!important;
  text-shadow: 1px 0 rgba(247, 242, 125, 0.5);
}

.imgsvg{
  width: 20px;
  margin-top: 25px;
}

.imgsvg:hover{
  width: 25px;
  margin-top: 23px;

}

.table-fixed tbody {
  max-height: 580px;
  overflow-y: auto;
  width: 100%;
  display: block;
}

.activo{
  font-size: 18px;
font-weight: 800;
text-shadow: 0.09px 0.25px rgba(247, 242, 125, 0.88);
}
